---
---

@import "{{ site.theme }}";

p, li {
    font-size: 18px;
}

header.inner {
    margin-top: 10px;
}

div.menu {
    margin-top: 10px;
    display: table;
    width: 100%;
    table-layout: fixed;
}

div.languages {
    margin-bottom: 10px;
    display: table;
    width: 100%;
    table-layout: fixed;
}

div.menu > div.item, div.languages> div.item {
    display: table-cell;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 2%; /* any number is ok */
}

div.item > a {
    color: white;
}

div.item > a:active {
    color: red;
}

#header_wrap .inner {
    padding: 10px;
}

div.breakout {
    border: 3px dashed;
    padding: 0px 10px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 25px;
}

div.disclaimer {
    border: 3px solid black;
    padding: 10px 15px 0px 15px;
    background-color: red;
    color: white;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 25px;
}

div.disclaimer > h2 {
	color: white;
	background: none;
}