---
---

@import "{{ site.theme }}";

div.menu {
    display: table;
    width: 100%;
    table-layout: fixed;
}

div.menu > div.item {
    display: table-cell;
    font-color: white;
    width: 2%; /* any number is ok */
}
