<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">

          <div class="languages">
            {% for language in site.data.languages.languages %}
              {% if language.url != site.url and language.published == "true" %}
                <div class="item"><a href="{{ language.url }}">{{ language.title }}</a></div>
              {% endif %}
            {% endfor %}
          </div>

          <a href="{{ site.url }}"><h1 id="project_title">{{ site.title }}</h1></a>
          <h2 id="project_tagline">{{ site.description }}</h2>

          <div class="menu">
            {% for item in site.data.mainmenu.items %}
                <div class="item"><a href="{{ item.url }}">{{ item.title }}</a></div>
            {% endfor %}
          </div>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a>, privacy-friendly webstats by <a href="https://www.goatcounter.com/">GoatCounter</a></p>
      </footer>
    </div>

    <script data-goatcounter="https://{{ site.goatcounter }}.goatcounter.com/count" 
        async src="/count.js"></script>
  </body>
</html>
